:root {
    --font-s: 1.3rem;
    --font-c: black;
    --sect-bg-c: white;
    --bg-c: hsl(190, 30%, 90%);
    --em-c: hsl(190, 30%, 80%);
    --border-c: hsl(190, 30%, 50%);
    --border-f-c: hsl(190, 30%, 26%);
    --border-w: 3px;
}
* {
    box-sizing: border-box;
}
body {
    background-color: var(--bg-c);
    padding: 1rem;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-size: var(--font-s);
}
